<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>htut</title>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/htut.css" rel="stylesheet">
  </head>
  <body>
    <form id="upload-form" class="well" method="POST" enctype="multipart/form-data">
      <p class="help-block">Instructions: Upload a plain text file</p>
      <div class="form-group">
        <label for="document-name">Document name</label>
        <input type="text" class="form-control" name="document-name" id="document-name" placeholder="Document">
      </div>
      
      <div class="form-group">
        <label for="input-file">File input</label>
        <input type="file" name="input-file" id="input-file">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </body>
</html>
