<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{{document_name}}</title>
  <link href="/static/css/htut.css" rel="stylesheet">
<head>
<body></body>
<script src="/static/vendor/d3/d3.v3.min.js"></script>
<script src="/static/vendor/underscore/underscore.js"></script>
<script src="/static/vendor/d3-cloud/d3.layout.cloud.js"></script>
<script>
  window.bootstrapped = {{bootstrapped|safe}}
  var fill = d3.scale.category20();
  var max_text_size = 150;
  var max_count = _.max(_.values(bootstrapped.word_counts));
  var scale_factor = max_text_size / max_count;
  var w = 800;
  var h = 600;



  d3.layout.cloud().size([w, h])
  .words(_.map(bootstrapped.word_counts, function(count, word) {
        return {text: word, size: count * scale_factor};
      }))
      .padding(5)
      .rotate(function() { return ~~(Math.random() * 2) * 90; })
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select("body").append("svg")
        .attr("id", "word-cloud")
        .style("margin-left", -w/2 + "px")
        .attr("width", w)
        .attr("height", h)
      .append("g")
        .attr("transform", "translate(" + w/2 +"," + h/2 + ")")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
</script>

